button, div, form, input {
	margin: 5px;
}

img {
	max-width: 200px;
	max-height: 200px;
}

label {
    color: #fff;
}

.btn-default {
    color: #000;
    font-size: large;
}

body {
	background-image: url("../images/movie.jpg");
    font-family: 'Quintessential', cursive;
    background-size: cover;
    font-size: large;
}

.holder {
    float: left;
}

.jumbotron {
    text-align: center;
}
.display-images {
    background-color: beige;
}
